* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  background: url("images/background.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bird {
  height: 70px;
  width: 75px;
  position: fixed;
  top: 40vh;
  left: 30vw;
  z-index: 100;
}

.pipe_sprite {
  position: fixed;
  top: 40vh;
  left: 40vw;
  height: 65vh;
  width: 7vw;
  background: radial-gradient(red 50%, #e84c09);
  border: 5px solid black;
  border-radius: 25px;
}

.message {
  position: absolute;
  z-index: 10;
  color: black;
  top: 30%;
  left: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
  text-align: center;
}

.messageStyle {
  background: white;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 25px;
}

.score {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  top: 0;
  left: 0;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.score_val {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 1080px) {
  .message {
    font-size: 18px;
    top: 50%;
    white-space: nowrap;
  }
  .score {
    font-size: 8vh;
  }
  .bird {
    width: 50px;
    height: 35px;
  }
  .pipe_sprite {
    width: 10vw;
  }
}

/* Mobile Control Button */
.mobile-controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
  display: none;
}

.mobile-controls button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  background: #ff9800;
  color: white;
  border: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Muncul hanya di layar HP */
@media (max-width: 768px) {
  .mobile-controls {
    display: block;
  }
}
