/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background: #70c5ce;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
