* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background: #70c5ce;
  overflow: hidden;
}

/* Canvas tetap full */
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

/* Tombol khusus HP */
#btnFlap {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 18px;
  font-weight: bold;
}
/* Mobile Control Button */
.mobile-controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
  display: none;
}

.mobile-controls button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  background: #ff9800;
  color: white;
  border: none;
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
}

/* Muncul hanya di layar HP */
@media (max-width: 768px) {
  .mobile-controls {
    display: block;
  }
}


/* Desktop: tombol tidak mengganggu */
@media (min-width: 768px) {
  #btnFlap {
    display: none;
  }
}

